<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/admin/adminHead :: adminHead">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/header :: header">

    </header>

    <main>
        <h1>ДОБАВИТЬ ОРГАНАЙЗЕР</h1>

        <div th:if="${message}" >
            <div th:utext="${message}" class="text-danger">

            </div>
        </div>
        <div>
            <form action="/admin/checkOrganizer" method="post" class="needs-validation" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="link">
                        Ссылка для проверки
                    </label>
                    <input type="url" id="checkLink" name="link" placeholder="" class="form-control mt-2" required>
                </div>
                <input
                        type="hidden"
                        th:name="${_csrf.parameterName}"
                        th:value="${_csrf.token}" />

                <button type="submit" class="btn btn-success mt-1 left">Проверить</button>
            </form>
        </div>
        <div class="left pt-md-5">
            <form action="/admin/addOrganizer" method="post" class="needs-validation" enctype="multipart/form-data">
<!--            <ul class="list-unstyled">-->
                <div class="row">
                    <div class="col-md-9 mb-3">
                        <label for="name">
                            Название
                        </label>
                        <input type="text" id="name" name="name" placeholder="" class="form-control mt-2" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="price">
                            Цена (Бел. Руб)
                        </label>
                        <input type="number" id="price" step="any" name="price" placeholder="" class="form-control mt-2">
                    </div>
                </div>
                <div class="mb-3">
                    <input type="file" name="image">
                </div>
                <div class="row">
                    <div class="mb-3 col-md-9" >
                        <label for="link">
                            Ссылка
                        </label>
                        <input type="url" id="link" name="link" placeholder="" class="form-control mt-2" required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="articleNumber">
                            Артикул
                        </label>
                        <input type="text" id="articleNumber" name="articleNumber" placeholder="" class="form-control mt-2">
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-3">
                        <label for="height">
                            Высота, СМ
                        </label>
                        <input type="number" id="height" name="height" step="any" placeholder="" class="form-control mt-2" required>
                    </div>
                    <div class="col-md-4 mb-3">
                        <label for="width">
                            Ширина, СМ
                        </label>
                        <input type="number" id="width" name="width" step="any"  placeholder="" class="form-control mt-2" required>
                    </div>
                    <div class="col-md-4 mb-3">
                    <label for="length">
                        Глубина, СМ
                    </label>
                    <input type="number" id="length" name="length" step="any"  placeholder="" class="form-control mt-2" required>
                </div>
                </div>

                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="seller">
                            Продавец
                        </label>
                        <select name="seller" id="seller" class="custom-select d-block w-100">
                            <option th:each="seller : ${T(by.cinderella.model.organizer.Seller).values()}"
                                    th:value="${seller}" th:text="${seller.label}"></option>
                        </select>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label for="material">
                            Материал
                        </label>
                        <select name="material" id="material" class="custom-select d-block w-100">
                            <option th:each="material : ${T(by.cinderella.model.organizer.Material).values()}"
                                    th:value="${material}" th:text="${material.label}"></option>
                        </select>
                    </div>
                </div>

                <div class="mb-3">

                    <ul class="list-unstyled categories-list">
                        <li th:each="feat : ${organizerCategories}" class="custom-control custom-checkbox categories-list-item mb-2">
                            <input type="checkbox" name="categories" class="custom-control-input"
                                   th:id="${feat}"
                                   th:value="${feat}"
                            />
                            <label class="custom-control-label"
                                    th:for="${feat}"
                                   th:text="${feat.parentCategory.label} + ': ' + ${feat.label}"
                            />
                        </li>
<!--                        -->
<!--                            <input type="checkbox" th:field="*{selectedCategories}" th:value="${feat}" />-->
<!--                            <label-->
<!--                                    th:text="${feat.parentCategory.label} + ': ' + ${feat.label}"></label>-->
<!--                        </li>-->
                    </ul>
                </div>

<!--            </ul>-->
            <input
                    type="hidden"
                    th:name="${_csrf.parameterName}"
                    th:value="${_csrf.token}" />

            <button type="submit" class="btn btn-success mt-5 left">Добавить</button>
        </form>
        </div>


    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>