<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/admin/adminHead :: adminHead">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/admin/adminHeader :: adminHeader">

    </header>

    <main>
        <h1>ОРГАНАЙЗЕРЫ</h1>

        <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/admin/addOrganizer}">Добавить</a>

        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <td>
                        &nbsp;
                    </td>
                    <td>
                        Название
                    </td>
                    <td>
                        Ширина
                    </td>
                    <td>
                        Высота
                    </td>
                    <td>
                        Глубина
                    </td>
                    <td>
                        Категория
                    </td>
                    <td>
                        Материал
                    </td>
                    <td>
                        Продавец
                    </td>
                    <td>
                        Цена
                    </td>
                    <td>&nbsp;</td>
                </tr>
            </thead>
            <tbody>
                <tr th:each="el : ${organizerPage.content}" class="">
                    <td>
                        <a th:href="${el.link}"  target="_blank">
                            <img th:src="@{/image/} + ${el.imageName}" class="organizer-image">
                        </a>
                    </td>
                    <td>
                        <a th:href="${el.link}" target="_blank">
                            <h4 th:text="${el.name}"/>
                        </a>
                    </td>

                    <td th:text="${el.width}"/>
                    <td th:text="${el.height}"/>
                    <td th:text="${el.length}"/>

                    <td class="fs-6">
                        <ul>
                            <li class="list-unstyled" th:each="category : ${el.categories}">
                                <span th:text="${category.parentCategory.label + ': ' + category.label}"/>
                            </li>
                        </ul>

                    </td>

                    <td th:text="${el.material?.label}" class="fs-5"/>
                    <td th:text="${el.seller.label}" class="fs-5"/>
                    <td th:text="${el.price}"/>

                    <td>
                        <a th:href="@{/admin/organizer/} + ${el.id} + @{/remove}">Удалить</a><br/>
                        <a th:href="@{/admin/organizer/} + ${el.id} + @{/copy}">Копировать</a><br/>
                        <a th:href="@{/admin/organizer/} + ${el.id} + @{/edit}">Редактировать</a>
                    </td>
                </tr>
            </tbody>
        </table>


        <nav aria-label="...">
            <ul class="pagination">
                <li th:class="${organizerPage.number == 0} ? 'page-item disabled' : 'page-item'" class="page-item ">
                    <a class="page-link" th:href="@{/admin/organizers(size=${organizerPage.size}, page=${organizerPage.number})}"
                       tabindex="-1">Предыдущая</a>
                </li>
                <li th:if="${organizerPage.totalPages > 0}"
                    th:class="${pageNumber==organizerPage.number + 1} ? 'page-item active' : 'page-item'"
                    th:each="pageNumber : ${pageNumbers}">
                    <a th:href="@{/admin/organizers(size=${organizerPage.size}, page=${pageNumber})}"
                       class="page-link"
                       th:text=${pageNumber}
                    ></a>
                </li>
                <li th:class="${organizerPage.totalPages == organizerPage.number + 1} ? 'page-item disabled' : 'page-item'" >
                    <a class="page-link"
                       th:href="@{/admin/organizers(size=${organizerPage.size}, page=${organizerPage.number + 2})}"
                       tabindex="-1">Следующая</a>
                </li>
            </ul>
        </nav>

    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>