<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/header :: header">

    </header>

    <main>
        <a th:href="@{/}" class="left back-arrow">&larr;</a><h1>ПРОЕКТИРОВАНИЕ УДОБНОЙ МЕБЕЛИ</h1>

        <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal fs-5 smaller">План расстановки мебели</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$50-$100</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><small class="text-muted fw-light">(3500₽-7000₽)</small></li>
                        </ul>

                        <a th:href="@{/services/design/arrangement}" >
                            <div class="img-container">
                                <img th:src="@{/img/services/designArrangement.jpg}" class="reg-image"  style="
                                                max-width: 100%;"/>
                            </div>
                        </a>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="location.href = '/services/design/arrangement'">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Проекты шкафов</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$40-$80</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><small class="text-muted fw-light">(3000₽-6000₽)</small></li>
                        </ul>
                        <a th:href="@{/services/design/cabinet}" >
                            <div class="img-container">
                                <img th:src="@{/img/services/designCabinet.jpg}" class="reg-image"  style="
                                                max-width: 100%;"/>
                            </div>
                        </a>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="location.href = '/services/design/cabinet'">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-normal">Проекты кухни</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$100-$300</h1>
                        <ul class="list-unstyled mt-3 mb-4">
                            <li><small class="text-muted fw-light">(7000₽-21000₽)</small></li>
                        </ul>
                        <a th:href="@{/services/design/kitchen}" >
                            <div class="img-container">
                                <img th:src="@{/img/services/designKitchen.jpg}" class="reg-image"  style="
                                                max-width: 100%;"/>
                            </div>
                        </a>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="location.href = '/services/design/kitchen'">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>

    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>