<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/header :: header">

    </header>

    <main>
        <a th:href="@{/}" class="left back-arrow btn btn-outline-primary regular-button">&larr;</a><h1>ПОРЯДОК В ДОМЕ</h1>

        <div class="row row-cols-2 row-cols-md-2 mb-3 text-center">

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-bold">Консультация</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">100 BYN<small class="text-muted fw-light"></small></h1>
                        <a th:href="@{/services/order/consulting}" >
                            <div class="img-container">
                                <img th:src="@{/img/services/orderConsulting.png}" class="reg-image"  style="
                                                max-width: 100%;"/>
                            </div>
                        </a>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="location.href = '/services/order/consulting'">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-bold">Выездная организация</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">25 BYN<small class="text-muted fw-light">/час</small></h1>
                        <a th:href="@{/services/order/exitService}" >
                            <div class="img-container">
                                <img th:src="@{/img/services/orderExitService.jpg}" class="reg-image"  style="
                                                max-width: 100%;"/>
                            </div>
                        </a>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="location.href = '/services/order/exitService'">Подробнее</button>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-bold">Организация переезда</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">25 BYN<small class="text-muted fw-light">/час</small><sup>*</sup></h1>
                        <a th:href="@{/services/order/relocation}" >
                            <div class="img-container">
                                <img th:src="@{/img/services/orderRelocation.jpg
                                }" class="reg-image"  style="
                                                max-width: 100%;"/>
                            </div>
                        </a>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="location.href = '/services/order/relocation'">Подробнее</button>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                    <div class="card-header py-3">
                        <h4 class="my-0 fw-bold">Онлайн организация</h4>
                    </div>
                    <div class="card-body">
                        <h1 class="card-title pricing-card-title">$10<small class="text-muted fw-light">/час</small> <small class="text-muted fw-light">(650₽)</small></h1>
                        <a th:href="@{/services/order/online}" >
                            <div class="img-container">
                                <img th:src="@{/img/services/orderOnline.png}" class="reg-image"  style="
                                                max-width: 100%;"/>
                            </div>
                        </a>
                        <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="location.href = '/services/order/online'">Подробнее</button>
                    </div>
                </div>
            </div>
        </div>


    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>