<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/header :: header">

    </header>

    <main>
        <h1>ОБО МНЕ</h1>



        <img th:src="@{/img/photo/L2.jpg}" class="reg-image" style="float: right;
                                            max-width: 250px;"/>

        <p>Меня зовут Любовь и сейчас я квалифицированный ОРГАНИЗАТОР ПРОСТРАНСТВА с дипломом об окончании курса.</p>

        <p>Как и у настоящей Золушки, у меня есть своя История...<br/>
        Желание все спланировать, разложить по полочкам, максимально оптимизировать проявилось еще в детстве.</p>

        <p>Так случилось, что диплом БГУКИ по специальности "библиотекарь-билиограф. Менеджер" стал очередной ступенькой в формировании моей личности, и добавил привычку все анализировать, систематизировать, а также навыки работы с документами...</p>

        <p>Дальше работа в Академии наук Беларуси, курсы Оператора ПЭВМ,  работа в фирме, занимающейся водоподготовкой, замужество, планирование детей...</p>

        <p>В декретном отпуске с малышами с разницей 2 года скучать не приходилось -<br/>
        пригодилась не только в рождённая систематизация и понимание закономерность хранения вещей, но и<br/>
        новое образование - ОРГАНИЗАТОР ПРОСТРАНСТВА!</p>

        <p>Теперь я стала  помогать людям организовывать свой дом, сокращая время на наведение порядка вдвое.</p>

        <p>Оказалось, что меня невероятно вдохновляет новая профессия, ведь я видела, как горят глаза у моих клиентов и меняются их жизни!</p>

        <p>Обучая азам поддержания порядка, основным способам складывания вещей, системе наведения порядка в шкафу, детской и на кухне, - я даю девушкам те знания, которым не учат ни в школе, ни в ВУЗе.</p>

        <p>С течением времени я поняла, что одна из причин беспорядка в домах моих клиентов - неудобная мебель!<br/>
        Да-да! - шкафы с высокими и глубокими полками, неудобные кухни, захламленные балконы - невероятно провоцируют беспорядок.</p>



        <p>Поэтому я решила пройти обучение проектированию мебели и использовать свои знания о порядке в доме, делая УДОБНУЮ мебель под нужды каждой конкретной семьи.<br/>
        Ведь все мы разные - и потребности у всех тоже разные.<br/>
        А мебельщики не знают, как будет удобно именно для Вас и предлагают общие схемы мебели, которые умеют делать лучше всего.</p>

        <p>Я даю своим клиентам не только проект УДОБНОЙ мебели, но и приложение с раскладкой вещей в будущем шкафу или на кухне.<br/>
        И после установки мебели им остаётся просто разложить все свои вещи по указанным местам, подобранным индивидуально под нужды семьи.</p>

        <div class="row row-cols-1 row-cols-md-2 mb-3 text-center pt-5">
            <div class="col">
                <img th:src="@{/img/cert.jpg}"  style="width: 100%;
                                                    margin: 20px 0;"/>
            </div>
            <div class="col">

                <img th:src="@{/img/cert1.jpg}"  style="width: 100%;
                                                    margin: 20px 0;"/>
            </div>
        </div>
    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>