<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head">

</head>

<body>

    <div class="container py-3">
        <header th:insert="blocks/header :: header">

        </header>

        <main>
            <h1>КОНТАКТЫ</h1>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
                <div class="col">
                    <h4>
                        WhatsApp/Viber
                    </h4>
                    <p class="lead">
                        <a href="tel:+375-29-765-81-03">+375-29-765-81-03</a>
                    </p>
                    <ul class="nav col-md-2 justify-content-center list-unstyled d-flex  mb-5" style="width: 100%;">
                        <li class="ms-3 me-3">
                            <a class="text-muted" href="viber://add?number=375297658103">
                                <img th:src="@{/img/socialNetworkIcons/viber.png}" height="50px" width="50px">
                            </a>
                        </li>
                        <li class="ms-3 me-3">
                            <a class="text-muted" href="https://api.whatsapp.com/send?phone=+375297658103">
                                <img th:src="@{/img/socialNetworkIcons/whatsapp.png}" height="50px" width="50px">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <h4>
                        SOCIAL
                    </h4>
                    <p class="lead">
                    <ul class="nav col-md-3 justify-content-center list-unstyled d-flex  mb-5" style="width: 100%;">
                        <li class="ms-3 me-3">
                            <a class="text-muted" href="https://www.instagram.com/cinderella.minsk/">
                                <img th:src="@{/img/socialNetworkIcons/instagram.png}" height="50px" width="50px">
                            </a>
                        </li>
                        <li class="ms-3 me-3">
                            <a class="text-muted" href="https://www.facebook.com/cinderella.minsk">
                                <img th:src="@{/img/socialNetworkIcons/facebook.png}" height="50px" width="50px">
                            </a>
                        </li>
                        <li class="ms-3 me-3">
                            <a class="text-muted" href="https://telegram.me/Cinderella_Minsk">
                                <img th:src="@{/img/socialNetworkIcons/telegram.png}" height="50px" width="50px">
                            </a>
                        </li>
                    </ul>
                    </p>
                </div>
                <div class="col">
                    <h4>
                        E-MAIL
                    </h4>
                    <p class="lead">
                        <a href="mailto:cinderella.minsk@gmail.com" target="_self"><span class="text-muted">cinderella.minsk@gmail.com</span></a>
                    </p>
                </div>
            </div>
        </main>

        <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

        </footer>
    </div>
</body>
</html>