<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/admin/adminHead :: adminHead">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/header :: header">

    </header>

    <main>
        <h1>ПОЛЬЗОВАТЕЛИ</h1>

        <div class="bd-example">
            <div class="row">
                <div class="col-md-2">
                    <form method="get" th:action="@{/admin/addService}">
                        <button class="btn btn-outline-primary regular-button" type="submit" >
                            Добавить услугу
                        </button>
                    </form>
                </div>

            </div>
            <table class="table table-striped table-sm table-hover">
                <thead>
                <tr>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        Название
                    </th>
                    <th>
                        Цена
                    </th>
                    <th>
                        Количество подписчиков
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="el,iter : ${services}" class="" >
                    <td th:text="${iter.index  + 1}">
                    </td>
                    <td th:text="${el.name}"/>

                    <td th:text="${el.cost}"/>
                    <td th:text="${el.restrictions.size()}"/>

                    <td>
                        <a onclick="" th:href="@{/admin/service/} + ${el.id} + @{/remove}">Удалить</a><br/>
                        <a th:href="@{/admin/service/} + ${el.id} + @{/edit}">Редактировать</a>
                    </td>
                </tr>
                </tbody>
            </table>


    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>