<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/admin/adminHead :: adminHead">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/header :: header">

    </header>

    <main>
        <h1>ПОЛЬЗОВАТЕЛИ</h1>

        <div class="bd-example">
            <div class="row">
                <div class="col-md-2">
                    <form method="get" th:action="@{/admin/addRestriction}">
                        <button class="btn btn-outline-primary regular-button" type="submit" >
                            Добавить продукт пользователю
                        </button>
                    </form>
                </div>

            </div>
            <table class="table table-striped table-sm table-hover">
                <thead>
                <tr>
                    <th>
                        &nbsp;
                    </th>
                    <th>
                        Имя пользователя
                    </th>
                    <th>
                        Email
                    </th>
                    <th>
                        Дата регистрации
                    </th>
                    <th>
                        Дата активации
                    </th>
                    <th>
                        Роли
                    </th>
                    <th>
                        Купленные продукты
                    </th>
                    <th>

                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="el,iter : ${users}" class="" >
                    <td th:text="${iter.index  + 1}">
                    </td>
                    <td th:text="${el.username}"/>

                    <td th:text="${el.email}"/>

                    <td th:text="${#calendars.format(el.registrationDate, 'dd/MMM/yyyy HH:mm')}"/>
                    <td th:text="${#calendars.format(el.activationDate, 'dd/MMM/yyyy HH:mm')}"/>

                    <td class="fs-6">
                        <ul>
                            <li class="list-unstyled" th:each="role : ${el.roles}">
                                <span th:text="${role}"/>
                            </li>
                        </ul>

                    </td>
                    <td class="fs-6">
                        <ul>
                            <li class="list-unstyled" th:each="restriction : ${el.restrictions}">
                                <span th:text="${restriction.service.name}"/>
                            </li>
                        </ul>

                    </td>

                    <td>
                        <a onclick="" th:href="@{/admin/user/} + ${el.id} + @{/remove}">Удалить</a><br/>
                        <a th:href="@{/admin/user/} + ${el.id} + @{/edit}">Редактировать</a>
                    </td>
                </tr>
                </tbody>
            </table>


    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>