<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">

<head th:insert="blocks/user/userHead :: userHead">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/header :: header">

    </header>

    <main>
        <h1 th:text="${organizerList.name}"></h1>

        <!--        <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/admin/addOrganizer}">Добавить</a>-->
        <div class="bd-example mb-3">
<!--            <form th:action="@{/user/userOrganizers/} + ${organizerList.id} + @{/pdf.pdf}" method="get">-->
<!--                <button class="btn btn-outline-primary regular-button"-->
<!--                        type="submit">-->
<!--                    Скачать PDF-->
<!--                </button>-->
<!--            </form>-->
            <a  class="btn btn-outline-primary regular-button" th:href="@{/user/userOrganizers/downloadPdf/} + ${organizerList.id} + @{/} + ${organizerList.name}+ @{.pdf}" target="_blank" download>
                Скачать PDF
            </a>
        </div>
        <table class="table table-striped table-sm table-hover">
            <thead>
            <tr>
                <th>
                    &nbsp;
                </th>
                <th>
                    Название
                </th>
                <th>
                    Цена(<span th:text="${@userService.getAuthUser().currency.CUR_ABBREVIATION}"/>)
                </th>
                <th>
                    Ширина
                </th>
                <th>
                    Глубина
                </th>
                <th>
                    Высота
                </th>
                <th>
                    Категория
                </th>
                <th>
                    Материал
                </th>
                <th>
                    Продавец
                </th>
                <th>
                    Кол-во
                </th>
                <th>
                    Комментарий
                </th>

                <th>&nbsp;</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="el : ${organizerList.userOrganizerList}" class="">
                <td>
                    <a th:href="${el.organizer.link}"  target="_blank">
                        <img th:src="@{/image/} + ${el.organizer.imageName}" class="organizer-image">
                    </a>
                </td>
                <td>
                    <a th:href="${el.organizer.link}" target="_blank">
                        <h4 th:text="${el.organizer.name}"/>
                        <span  class="badge badge-info" th:text="${el.organizer.seller?.promo}"></span>
                    </a>
                    <a class="link-copy" th:attr="data-url=${el.organizer.link}" href="#do_nothing">
                        <img th:src="@{/img/icons/copy.png}" width="30" height="30">
                    </a>
                </td>
                <td class="price-font" th:text="${@currencyRateService.getPrice(el.organizer)}"/>

                <td th:text="${el.organizer.width}"/>
                <td th:text="${el.organizer.length}"/>
                <td th:text="${el.organizer.height}"/>

                <td class="fs-6">
                    <ul>
                        <li class="list-unstyled" th:each="category : ${el.organizer.categories}">
                            <span th:text="${category.label}"/>
                        </li>
                    </ul>

                </td>

                <td th:text="${el.organizer.material?.label}" class="fs-5"/>
                <td th:text="${el.organizer.seller.label}" class="fs-5"/>
                <td class="fs-5">
                    <form th:action="@{/user/userOrganizer/} + ${el.id} + @{/edit}" method="post" th:id="@{editForm} + ${el.id}" >
                        <input type="number" style="min-width: 50px;"
                            step="1"
                            th:value="${el.count}"
                            name="count" class="form-control rounded-4 auto-submit-form"/>
                    </form>
                </td>
                <td class="fs-5">
                    <form th:action="@{/user/userOrganizer/} + ${el.id} + @{/edit}" method="post" th:id="@{editForm} + ${el.id}" >
                        <textarea name="comment" maxlength="254"
                               th:text="${el.comment}"
                               class="form-control rounded-4 auto-submit-form">
                        </textarea>
                    </form>
                </td>

                                    <td>
<!--                                        <a class="btn btn-outline-primary regular-button" th:href="@{/user/userOrganizersList/} + ${organizerList.id} + @{/} + ${el.id} + @{/remove/false}">Удалить</a><br/>-->
                                        <button type="button" class="btn btn-outline-primary regular-button "
                                                data-toggle="modal" th:data-target="@{#remove} + ${el.id}">
                                            Удалить
                                        </button>
                                        <div class="modal fade" tabindex="-1" th:id="@{remove} + ${el.id}" aria-hidden="true">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h5 class="modal-title">Удаление из списка</h5>
                                                        <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <p>Вы действительно хотите удалить органайзер <strong th:text="${el.organizer.name}"/>?</p>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary " data-dismiss="modal">Отмена</button>

                                                        <form th:action="@{/user/userOrganizersList/} + ${organizerList.id} + @{/} + ${el.id} + @{/remove/false}">
                                                            <button type="submit" class="btn btn-outline-primary regular-button mb-0">Удалить</button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
            </tr>
            </tbody>
        </table>

    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>