@font-face {
  font-family: 'Neuron';

  src: url('/fonts/Neuron.ttf');
}

@font-face {
  font-family: 'HighwayPro';

  src: url('/fonts/HighwayPro.ttf');
}

a {
    cursor: pointer;
}

.left {
    float:left;
}

.right {
    float:right;
}

.navbar-brand span{
    line-height: 50px;
    color: #6370a4 !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #6370a4;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
    color: #55608e;
}

body {
  background-image: linear-gradient(180deg, #6370a424, #FFF 200px, #FFF);
  background-repeat: no-repeat;

  font-family: 'Neuron',sans-serif;
  color: #6370a4 !important;
}

h1 {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 40px !important;
}

.card-body h1 {
    text-decoration: none;
}

.card-header h4 {
    font-size: calc(1.75rem + .3vw);
}

.card-header h4.smaller {
    line-height: calc(2.15rem + .3vw);
}

.text-dark {
    color: #3F4777 !important;
}

.text-muted {
    color: #6370a494 !important;
    font-size: 1.4rem;
}

a:visited,
a:hover {
    color: #3F4777;
    text-decoration: none;
}
a {
    color: #6370a4;
}

.container {
  /*max-width: 960px;*/
}

.pricing-header {
  /*max-width: 700px;*/
}

.hidden {
    display: none !important;
}

.reg-image {
    border-radius: 3px;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}

.reg-image.left {
    margin-right: 15px;
}

.reg-image.right {
    margin-left: 15px;
}

a:active .reg-image,
a:hover .reg-image  {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.img-container {
    margin: 10px auto;
    max-width: 300px;

}

footer {
    width: 100%;
    float: left;
}

.btn-outline-primary.regular-button,
.card .btn-outline-primary {
    color: #6370a4;
    border-color: #6370a4;
    font-weight: bold;
}

.btn-outline-primary.regular-button:hover {

}

.btn-outline-primary.regular-button:hover,
.btn-outline-primary.regular-button:active,
.card .btn-outline-primary:hover,
.card .btn-outline-primary:active {
    color: #fff;
    background-color: #6370a4;
}

a.back-arrow {
    text-decoration: none;
    font-size: 58px;
    line-height: 40px;
}

.organizer-image {
    max-width: 100px;
}

.login-form {
    max-width: 500px;
    margin: 1.75rem auto;
}

.categories-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.categories-list-item {
    width: 25%;
    min-width: 310px;
}

.price-font {
    font-weight: bold;
    color: #f44 !important;
}
.product-container {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
