<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:insert="blocks/head :: head">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/header :: header">

    </header>

    <main>
        <h1 style="display: none;">ПОРЯДОК В ДОМЕ</h1>

        <div class="container mb-4" style="display: none;">
            <div class="card m-auto" style="width: 18rem;">
                <div class="card-header">
                    СБОРНИК ОРГАНАЙЗЕРОВ ДЛЯ КУХНИ
                </div>
                <div class="card-body">
                    <a href="https://cinderella.by/user/userService/2806/buy">
                        <img th:src="@{/img/temporary/target.jpg}" class="card-img-top" alt="...">
                    </a>
                    <p class="lead" align="center">Новый мега-сборник органайзеров для кухни! Спешите приобрести до 1 декабря с супер-выгодой в 30%!</p>
                    <a class="btn btn-outline-primary regular-button m-auto" href="https://cinderella.by/userService/2806/buy"
                       th:if="${!@userService.checkUserRestriction(2806)}">ПОДРОБНЕЕ</a>
                    <a class="btn btn-outline-primary regular-button m-auto" href="https://cinderella.by/user/userService/2806/details"
                       th:if="${@userService.checkUserRestriction(2806)}">Перейти</a>
                </div>
            </div>
        </div>

        <div class="" style="height: 25rem; display: none;">
<!--            <div class="card m-auto" style="width: 18rem;">-->
<!--                <div class="card-header">-->
<!--                    СБОРНИК ОРГАНАЙЗЕРОВ ДЛЯ КУХНИ-->
<!--                </div>-->
<!--                <div class="card-body">-->
<!--                    <a href="https://cinderella.by/user/userService/2806/buy">-->
<!--                        <img th:src="@{/img/temporary/target.jpg}" class="card-img-top" alt="...">-->
<!--                    </a>-->
<!--                    <p class="lead" align="center">Новый мега-сборник органайзеров для кухни! Спешите приобрести до 1 декабря с супер-выгодой в 30%!</p>-->
<!--                    <a class="btn btn-outline-primary regular-button m-auto" href="https://cinderella.by/userService/2806/buy"-->
<!--                       th:if="${!@userService.checkUserRestriction(2806)}">ПОДРОБНЕЕ</a>-->
<!--                    <a class="btn btn-outline-primary regular-button m-auto" href="https://cinderella.by/user/userService/2806/details"-->
<!--                       th:if="${@userService.checkUserRestriction(2806)}">Перейти</a>-->
<!--                </div>-->
<!--            </div>-->
            <div id="mainCarousel" class="carousel slide" data-ride="carousel" style="height: 25rem;">
                <ol class="carousel-indicators">
                    <li data-target="#mainCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#mainCarousel" data-slide-to="1"></li>
                    <li data-target="#mainCarousel" data-slide-to="2"></li>
                    <li data-target="#mainCarousel" data-slide-to="3"></li>
                    <li data-target="#mainCarousel" data-slide-to="4"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active" style="height: 25rem;">
                        <a ref="https://cinderella.by/user/userService/2806/details">
                            <img th:src="@{/img/temporary/target.jpg}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>СБОРНИК ОРГАНАЙЗЕРОВ ДЛЯ КУХНИ</h5>
                                <p>Новый мега-сборник органайзеров для кухни! Спешите приобрести до 1 декабря с супер-выгодой в 30%!</p>
                                <a class="btn btn-outline-primary regular-button m-auto" href="https://cinderella.by/userService/2806/buy"
                                   th:if="${!@userService.checkUserRestriction(2806)}">ПОДРОБНЕЕ</a>
                                <a class="btn btn-outline-primary regular-button m-auto" href="https://cinderella.by/user/userService/2806/details"
                                   th:if="${@userService.checkUserRestriction(2806)}">Перейти</a>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item" style="height: 25rem;">
                        <a th:href="@{/services/order}">
                            <img th:src="@{/img/order.jpg}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Порядок в доме</h5>
                                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item" style="height: 25rem;">
                        <a th:href="@{/services/design}">
                            <img th:src="@{/img/design.jpg}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Проекты мебели</h5>
                                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item" style="height: 25rem;">
                        <a th:src="@{/img/organizerDBService.png}">
                            <img th:src="@{/img/organizerDBService.png}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>База органайзеров</h5>
                                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
                                <a class="btn btn-outline-primary regular-button btn-lg w-100" th:href="@{/organizersServiceDetails}" sec:authorize="!isAuthenticated()">Подробнее об услуге</a>
                                <a class="btn btn-outline-primary regular-button btn-lg w-100" th:href="@{/user/organizers}" sec:authorize="isAuthenticated()">База органайзеров</a>
                            </div>
                        </a>
                    </div>
                    <div class="carousel-item" style="height: 25rem;">
                        <a th:href="@{/onlineServices}">
                            <img th:src="@{/img/onlineServices.jpg}" class="d-block w-100" alt="...">
                            <div class="carousel-caption d-none d-md-block">
                                <h5>Метка первого слайда</h5>
                                <p>Некоторый репрезентативный заполнитель для первого слайда.</p>
                            </div>
                        </a>
                    </div>
                </div>
                <a class="carousel-control-prev" href="#mainCarousel" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Предыдущий</span>
                </a>
                <a class="carousel-control-next" href="#mainCarousel" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Следующий</span>
                </a>
            </div>


        </div>

        <img th:src="@{/img/photo/L1.jpg}" class="reg-image"  style="float: right;
                                            max-width: 350px;"/>
        <p class="lead">Приветствую Вас на моем сайте!</p>
        <p class="lead">Меня зовут Любовь. <br/> Я организатор пространства.</p>
        <p class="lead">Здесь есть вся информация об услугах по наведению порядка в доме <br/>и проектировании <strong>удобных</strong> кухонь и шкафов!</p>
        <p class="mt-5 lead"><small>*Шпаргалки для хозяек ищи в моём блоге <a href="https://www.instagram.com/cinderella.minsk/">инстаграм <img th:src="@{/img/socialNetworkIcons/instagram.png}" height="70px" width="70px"></a></small></p>


        <div style="width: 100%; clear: both;">
            <div class="row row-cols-1 row-cols-md-2 mb-3 text-center pt-5">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h2 class="my-0 fw-bold">Порядок в доме</h2>
                        </div>
                        <div class="card-body">
                            <a th:href="@{/services/order}" >
                                <div class="img-container">
                                    <img th:src="@{/img/order.jpg}" class="reg-image"  style="
                                                max-width: 100%;"/>
                                </div>
                            </a>
                            <button type="button" class="w-100 btn btn-lg btn-outline-primary"  onclick="location.href = '/services/order'">Подробнее об услуге</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h2 class="my-0 fw-bold">Проекты мебели</h2>
                        </div>
                        <div class="card-body">
                            <a th:href="@{/services/design}" >
                                <div class="img-container">
                                    <img th:src="@{/img/design.jpg}" class="reg-image"  style="
                                                max-width: 100%;"/>
                                </div>
                            </a>

                            <button type="button" class="w-100 btn btn-lg btn-outline-primary" onclick="location.href = '/services/design'">Подробнее об услуге</button>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h2 class="my-0 fw-bold">База органайзеров</h2>
                        </div>
                        <div class="card-body">
                            <a th:href="@{/organizersServiceDetails}" sec:authorize="!isAuthenticated()" >
                                <div class="img-container">
                                    <img th:src="@{/img/organizerDBService.png}" class="reg-image"  style="
                                                max-width: 77%;"/>
                                </div>
                            </a>
                            <a th:href="@{/user/organizers}" sec:authorize="isAuthenticated()" >
                                <div class="img-container">
                                    <img th:src="@{/img/organizerDBService.png}" class="reg-image"  style="
                                                max-width: 77%;"/>
                                </div>
                            </a>
                            <a class="btn btn-outline-primary regular-button btn-lg w-100" th:href="@{/organizersServiceDetails}" sec:authorize="!isAuthenticated()">Подробнее об услуге</a>
                            <a class="btn btn-outline-primary regular-button btn-lg w-100" th:href="@{/user/organizers}" sec:authorize="isAuthenticated()">База органайзеров</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h2 class="my-0 fw-bold">Онлайн продукты</h2>
                        </div>
                        <div class="card-body">
                            <a th:href="@{/onlineServices}" >
                                <div class="img-container">
                                    <img th:src="@{/img/onlineServices.jpg}" class="reg-image"  style="
                                                max-width: 92%;"/>
                                </div>
                            </a>
                            <a class="btn btn-outline-primary regular-button btn-lg w-100" th:href="@{/onlineServices}">Подробнее об услуге</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </main>


    <script>
        $('.carousel').carousel({
          interval: 2000
        })
    </script>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>