<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/head :: head">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/header :: header">

    </header>

    <main>
        <p>Научу тратить минимум усилий на поддержание порядка!</p>

            <ul class="" style="font-size:17px">
                <li>
                    <p>
                        <span style="font-size:17px">Наведу порядок:&nbsp;в шкафу, в детской, на кухне, в ванной,&nbsp;в кладовке, на балконе, в гараже и т.д.</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-size:17px">Упорядочу домашние документы и медикаменты.</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-size:17px">Организую переезд.</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-size:17px">Помогу с составлением меню на неделю/месяц и планированием закупок продуктов</span>
                    </p>
                </li>
                <li>
                    <p>
                        <span style="font-size:17px">Подарочные сертификаты на услуги организации пространства</span>
                    </p>
                </li>
            </ul>

        <p>
            Помогу навести порядок один раз и научу поддерживать его всегда!
        </p>
        <p>
            Заказать консультацию <a th:href="@{/contacts}" target="_self">здесь</a>
        </p>
    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>





</body>










</html>