<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/admin/adminHead :: adminHead">

</head>

<body>

    <div class="container py-3">
        <header th:insert="blocks/header :: header">

        </header>

        <main>
            <h1>Логин</h1>

            <div class="login-form">
                <div th:if="${param.error}">
                    Неверный логин или пароль.<br/>
                    Если Вы новый пользователь, проверьте почту, адрес которой вводили при регистрации.
                </div>
                <div th:if="${param.logout}">
                    Вы вышли из системы.
                </div>

                <div th:if="${message}">
                    <div th:text="${message}">

                    </div>
                </div>
            </div>
            <form th:action="@{/login}" method="post" class="login-form">
                <div class="form-floating mb-3">
                    <input type="text"
                           name="username"
                           class="form-control rounded-4" id="floatingInput" placeholder="">
                    <label for="floatingInput">Логин</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password"
                           name="password"
                           class="form-control rounded-4" id="floatingPassword" placeholder="Пароль">
                    <label for="floatingPassword">Пароль</label>
                </div>

                <div class="mb-4"><label> Запомнить меня: <input type="checkbox" name="remember-me"/> </label></div>
                <div><button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4 regular-button" type="submit">Войти</button></div>

            </form>
            <div class="login-form">
                <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4 regular-button" onclick="location.href='/registration'">Регистрация</button>
            </div>
            <div class="login-form">
                <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4 regular-button" onclick="location.href='/passReminder'">Забыли пароль?</button>
            </div>

        </main>

        <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

        </footer>
    </div>





</body>

</html>