<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/admin/adminHead :: adminHead">

</head>

<body>

    <div class="container py-3">
        <header th:insert="blocks/admin/adminHeader :: adminHeader">

        </header>

        <main>
            <h1>Логин</h1>

            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post">
                <div><label> User Name : <input type="text" name="username"/> </label></div>
                <div><label> Password: <input type="password" name="password"/> </label></div>
                <div><input type="submit" value="Sign In"/></div>
            </form>
            <a href="/registration">Регистрация</a>

        </main>

        <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

        </footer>
    </div>





</body>

</html>