<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/admin/adminHead :: adminHead">

</head>

<body>

    <div class="container py-3">
        <header th:insert="blocks/admin/adminHeader :: adminHeader">

        </header>

        <main>
            <h1>Логин</h1>

            <div th:if="${param.error}">
                Invalid username and password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <form th:action="@{/login}" method="post" class="login-form">
                <div class="form-floating mb-3">
                    <input type="text"
                           name="username"
                           class="form-control rounded-4" id="floatingInput" placeholder="name@example.com">
                    <label for="floatingInput">Email адрес</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password"
                           name="password"
                           class="form-control rounded-4" id="floatingPassword" placeholder="Пароль">
                    <label for="floatingPassword">Пароль</label>
                </div>

                <div class="mb-4"><label> Запомнить меня: <input type="checkbox" name="remember-me"/> </label></div>
                <div><button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Войти</button></div>

            </form>
            <div class="login-form">
                <button class="w-100 py-2 mb-2 btn btn-outline-primary rounded-4" onclick="location.href='/registration'">Регистрация</button>
            </div>

        </main>

        <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

        </footer>
    </div>





</body>

</html>