<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="blocks/admin/adminHead :: adminHead">

</head>

<body>

<div class="container py-3">
    <header th:insert="blocks/admin/adminHeader :: adminHeader">

    </header>

    <main>
        <h1>Регистрация</h1>

        <div class="login-form">
            <div th:if="${message}">
                <div th:text="${message}">

                </div>
            </div>
        </div>

        <form th:action="@{/registration}" method="post" class="login-form">
            <div class="form-floating mb-3">
                <input type="text" name="username" id="username" required
                       class="form-control rounded-4" placeholder=""/>
                <label for="username"> Логин:  </label>
            </div>
            <div class="form-floating mb-3">
                <input type="email" name="email" id="email" required
                       class="form-control rounded-4" placeholder=""/>
                <label for="email">Email:</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="password" id="password" required
                       class="form-control rounded-4" placeholder=""/>
                <label for="password"> Пароль:  </label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" name="confirmPassword" id="confirmPassword" required
                       class="form-control rounded-4" placeholder=""/>
                <label for="confirmPassword"> Подтвердите пароль:  </label>
            </div>
            <div><button class="w-100 mb-2 btn btn-lg rounded-4 btn-primary" type="submit">Регистрация</button></div>
        </form>

    </main>

    <footer th:insert="blocks/footer :: footer" class="text-muted mt-5">

    </footer>
</div>

</body>

</html>