<header th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
        <nav class="navbar navbar-light navbar-expand-lg">
            <a th:href="@{/}" class="navbar-brand fs-4">
                <img th:src="@{/img/cinderella_icon.png}" style="float: left; width: 50px;"/>
                <span class="fs-4 ">ОРГАНИЗАЦИЯ ПРОСТРАНСТВА</span>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav ms-auto">

                <li class="nav-item pt-2">
                    <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/about}">Обо мне</a>
                </li>
                <li class="nav-item pt-2">
                    <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/contacts}">Контакты</a>
                </li>
                <li class="nav-item dropdown  pt-2 mx-3" sec:authorize="hasAuthority('ADMIN')">
                    <a class="dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Администрирование
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" th:href="@{/admin/users}" sec:authorize="hasAuthority('SADMIN')">Пользователи</a>
                        <a class="dropdown-item" th:href="@{/admin/services}" sec:authorize="hasAuthority('SADMIN')">Услуги</a>
<!--                            <div class="dropdown-divider"></div>-->
                        <a class="dropdown-item" th:href="@{/admin/organizers}">Органайзеры</a>
                    </div>
                </li>
                <li class="nav-item dropdown  pt-2 mx-3" sec:authorize="hasAuthority('USER')">
                    <a class="dropdown-toggle" href="#" id="userNavbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Личный кабинет
                    </a>
                    <div class="dropdown-menu" aria-labelledby="userNavbarDropdown">
                        <a sec:authorize="hasAuthority('USER')" class="dropdown-item" th:href="@{/user/organizers}">Органайзеры</a>
                    </div>

                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <form th:action="@{/logout}" method="post" id="logout" class="pt-2">
                        <a class="me-3 py-2 text-dark text-decoration-none" href="#" onclick="document.getElementById('logout').submit();">Выйти</a>
                    </form>
                </li>
                <li class="nav-item pt-2 hidden" sec:authorize="!isAuthenticated()">
                    <a class="me-3 py-2 text-dark text-decoration-none" th:href="@{/login}">Войти</a>
                </li>
            </ul>
            </div>
        </nav>

    <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
        <symbol id="check" viewBox="0 0 16 16">
            <title>Check</title>
            <path d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"></path>
        </symbol>
    </svg>

</header>