<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:text="${title}"/>

    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>

    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="javascript" th:href="@{/js/bootstrap.min.js}">
    <link rel="javascript" th:href="@{/js/main.js}">

    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <meta charset="utf-8">

    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
