<head th:fragment="head" xmlns:th="http://www.w3.org/1999/xhtml">
    <title th:text="'Организация пространства, проектирование мебели | ' + ${title}"/>

    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-0FRT3G17PH"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-0FRT3G17PH');
    </script>

    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://cinderella.by/" />

    <meta property="og:image" content="/img/Cinderella_logo.png">
    <meta property="og:title" content="Порядок в доме.">
    <meta property="og:description" content="Организация пространства, проектирование удобной мебели, планировка помещений.
        Я помогу избавиться от беспорядка раз и навсегда. С моей помощью Ваш дом преобразиться, станет уютнее и красивее.
    ">

    <meta name="keywords" content="Организация пространства,
        Беларусь, Чистота и порядок, порядок в шкафу, расхламление, уборка, преображение дома, помощь в наведении порядка,
        Минск, Порядок в доме, уют, удобство, проектирование мебели, удобная мебель, дизайн мебели, дизайн кухонь, дизайн шкафов,
        Шпаргалки для хозяек. Переезд, помощь с переездом."
    />

    <meta property="og:title" content="Организация пространства, проектирование">

    <link rel="stylesheet"  th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}">

    <link rel="javascript" th:href="@{/js/bootstrap.min.js}">
    <link rel="javascript" th:href="@{/js/main.js}">

    <link rel="icon" type="image/x-icon" href="/img/favicon.ico">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


    <meta charset="utf-8">

    <meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
</head>
